.homero{
    font-style:italic;
    text-decoration:underline; 
    color:#FCFC34;
}

.esopo {
    width: 800px;
    background-color: #15A085;
    margin: 50px auto;
    border: 4px dashed #FCFC34;
    padding: 30px 30px 30px 30px;
    color: #FFFFFF
}