<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../assets/css/newstyle.css">
    <title>Document</title>
</head>
<body>
    <h2 id="right">
        Lorem ipsum dolor sit amet
    </h2>
    <h2>
        Lorem, ipsum dolor sit amet
    </h2>
    <p class="azul">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi consectetur voluptatum tenetur. Est blanditiis ipsa quo, cupiditate suscipit omnis ipsum dignissimos ab repellat voluptas ducimus in earum quasi voluptates optio?
    </p>
    <p class="yellow">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe assumenda voluptates quia excepturi nam quod unde omnis voluptatibus labore vero officiis ipsa, eveniet officia illo odio, adipisci minus recusandae asperiores.
    </p>
    <p class="pinkypie">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi animi sapiente iste ab soluta expedita accusamus perferendis a suscipit dignissimos. Molestias ex molestiae assumenda quis, natus dignissimos odio sit quidem?
    </p>
    <p>
        Hasta muchos siglos después no se dudó de la existencia efectiva de ambos, señalando además la perfecta antítesis entre las dos figuras: 
        <span class="homero"> <a href="https://es.wikipedia.org/wiki/Homero">Homero como cantor de las gestas de los héroes</a></span> 
        , Esopo como retratista de la plebe, de las debilidades humanas bajo aspecto de animales. En ambos casos, numerosas ciudades se disputaron el honor de ser su cuna.
    </p>
       
    
</body>
</html>