<!DOCTYPE html>
<html lang="es"> <!-- Nesting -->
        <meta charset="UTF-8" name = "Santiago Romero" content="Intro html">
        <title>html clase 1</title>
        <link rel="icon" href="../assets/img/bxs-coffee-bean.svg">
        <!-- css cascading style sheets ¡IMPORTANT! -->
        <style>  
        </style>
    </head>
    <body> <!-- What people are going to see-->
        <h1> <!-- Headers -->
            <i>coffe</i> BEEEEEEAAAAAANS WTF
        </h1>
        
        <h2>
            i like <i>coffe</i> Beaaaaaannnnnsss WTF
        </h2>

        <h3>
            Noooooo i dont hate <i> coffe </i> BEEEEEEAAAAAANS wtf
        </h3>
        
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. <br> 
            Dicta quas expedita quaerat dignissimos eaque commodi qui labore ratione pariatur architecto omnis, <br>
            <u>aut quod ad officiis corporis quis explicabo sapiente sit</u>.

        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Velit, <br>
            quod similique! Culpa, numquam inventore, ea mollitia molestias iure magn<sub>i</sub> <br>
            rem officiis provident assumenda, fugiat harum! Aperiam, ut inventore! Ratione, aspernatur.
        </p>

        <img src = "../assets/img/patryk-gauza-vs0tzSHVcac-unsplash.jpg" height="600" alt="aaaaaa perdon el retraso">
        

        <img src="" ref"">

        <h4> Market list </h4>
        <ol type="a">
            <li>Coffe without beans</li>
            <li>Insta coffe</li>
            <li>Coffe BEEEEEEAAAAAANS WTF</li>
            <li> 24783295672789337891741982637218374983120983 CAJAS DE MARLBORO ROJÓ</li>
        </ol>
        <h4> Market list but with alcohol</h4>
        <ul>
            <li> Rum sin kola </li>
            <li> Beer (POKER) </li>
            <li> Aguardiente jiji </li>
            <li> alcohol with <i> coffe </i> <strong>BEEEEEEAAAAAANS</strong> wtf </li>
        </ul>
        
        <p> <a href="project2.html" target="_blank"> Iron maiden (pagina de maiden jiji) </a> </p>
            
    
        <table border="1" width="50%">
            <caption> Buenas bandas para vibear con <i>coffe</i> BEEEEEEEEAAAAAAAAAAANNNNNNSSSSSS WTF </caption>
            <tr>
                <th colspan="3">
                    Bandas 
                </th>
            </tr>
            <tr>
                <th>
                    item
                </th>
                <th>
                    Nombre
                </th>
                <th>
                    Puntuación
                </th>
            </tr>
            <tr>
                <td>
                    1
                </td>
                <td>
                    <a href="https://www.youtube.com/@ironmaiden" target="_blank"> Iron maiden </a>
                </td>
                <td>
                    10/10
                </td>
            </tr>
            <tr>
                <td>
                    2
                </td>
                <td>
                    <a href="https://www.youtube.com/@metallica" target="_blank"> Metallica </a>
                </td>
                <td>
                    8/10
                </td>
            </tr>
            <tr>
                <td>
                    3
                </td>
                <td>
                    <a href="https://www.youtube.com/channel/UCIak6JLVOjqhStxrL1Lcytw" target="_blank"> GNR </a>
                </td>
                <td>
                    9/10
                </td>
            </tr>
            <tr>
                <td>
                    4
                </td>
                <td>
                    <a href="https://www.youtube.com/channel/UCkBwnm7GOfYHsacwUjriC-w" target="_blank"> Bon jovi </a> </li>
                </td>
                <td>
                    7/10
                </td>
            </tr>
        </table>

        <h3> Meme incoming </h3>
        <p> Si no te gusta el metal o el rock siempre estan las cumbias para escuchar con cafe porque no eres argentino y no tienes mate xD</p>
        <a href="https://www.youtube.com/watch?v=jKgCg4cAVcw" target="_blank"> Cancion de cumbia rara jiji </a>


        
        <table border="1" width="50%">
            <tr>
                <th colspan="3">
                    Horario semanal
                </th>
            </tr>
            <tr>
                <th>
                    Hora
                </th>
                <th>
                    Lunes
                </th>
                <th>
                    Martes
                </th>
            </tr>
            <tr>
                <td>
                    7:00 am
                </td>
                <td colspan="2">
                    Desayuno
                </td>
            </tr>
            <tr>
                <td>
                    8:00 am
                </td>
                <td>
                    Reunión
                </td>
                <td>
                    Clase
                </td>
        </table>
        <a href="../pag.html" target="_blank"> indice </a> <br>
    </body>
</html>