<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="Santiago Romero Lozano" content="Quiz jugando stop">
    <title> Quiz </title>
    <link rel="icon" href="../assets/img/bxs-edit.svg">
</head>
<body>
    <h1> Santiago Romero Lozano </h1>
    <table border = "2" width="80" >
        <tr> <th colspan="8"> Quiz </th> </tr>
        <tr style = "border: 3">
            <th> L </th>
            <th> Nombre </th>
            <th> Apellido </th>
            <th> Cosa </th>
            <th> Color </th>
            <th> Lugar </th>
            <th> Atributo HTML </th>
            <th> Total </th>
        </tr>
        <tr>
            <td> V </td>
            <td> Valentina </td>
            <td> Villamil </td>
            <td> <img src="../assets/img/thomas-william-4qGbMEZb56c-unsplash.jpg" width="100px"> </td>
            <td bgcolor="violet"> </td>
            <td> villa de leyva </td>
            <td> <i> <u> value </u> </i> </td>
            <th> 1 </th>

        </tr>
        <tr>
            <td> D </td>
            <td> Diego </td>
            <td> Dago </td>
            <td> <img src="../assets/img/riho-kroll-m4sGYaHYN5o-unsplash.jpg" width="100px"> </td>
            <td bgcolor="gold"> </td>
            <td> duitama </td>
            <td> <i> <u> disabled </u> </i> </td>
            <th> 1 </th>
        </tr>
        <tr>
            <td> U </td>
            <td> Ulises </td>
            <td> Umaña </td>
            <td> <img src="../assets/img/maja-petric-vGQ49l9I4EE-unsplash.jpg" width="100px"> </td>
            <td bgcolor="3e0694"> </td>
            <td> ucrania </td>
            <td> <i> <u> u </u> </i> </td>
            <th> 1 </th>
        </tr>
        <tr>
            <td> X </td>
            <td> Ximena </td>
            <td> Xiong </td>
            <td> <img src="../assets/img/kvalifik-1PU6Y6yuYJ8-unsplash.jpg" width="100px"> </td>
            <td bgcolor="738678"> </td>
            <td> xinzo de Limia </td>
            <td> <i> <u> xmlns </u> </i> </td>
            <th> 1 </th>
        </tr>
        <tr>
            <td> R </td>
            <td> Robert </td>
            <td> Romero </td>
            <td> <img src="../assets/img/brett-jordan-V-QbDB5zyMY-unsplash.jpg" width="100px"> </td>
            <td bgcolor="Red"> </td>
            <td> roma </td>
            <td> <i> <u> rowspan </u> </i> </td>
            <th> 1 </th>
        </tr>
    </table>
</body>
</html>